{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <div class="card">
    <div class="card-body">
      <h1 class="display-4">Witaj w aplikacji do rozpoznawania obrazów</h1>
      <p class="mt-4 lead">Aplikacja służy do rozpoznawania obrazów. Możesz przesłać zdjęcie, a następnie aplikacja powinna zwrócić
        predykcję na temat tego, co znajduje się na zdjęciu.</p>
      <p class="mt-4 lead">Aby rozpocząć, przejdź do zakładki "Rozpoznawanie obrazów" i przeslij zdjęcie.</p>
    </div>
  </div>
</div>
{% endblock content %}
