{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
  <!-- Display all images -->
  <div class="container">
    <a href="/image_recognition/upload" class="btn btn-secondary m-2">Dodaj obraz</a>
    <a href="/image_recognition/list" class="btn btn-secondary m-2">Lista dostępnych klasyfikacji</a>
    <a href="/image_recognition/train" class="btn btn-secondary m-2">Trenuj</a>
    
    {% if images.0 %}
    <div class="row">
      {% for image in images %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{ image.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{ image.label }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/image_recognition/zobacz/{{ image.id }}" class="btn btn-sm btn-outline-secondary">Zobacz</a>
              </div>
              <small class="text-muted
              ">{{ image.timestamp }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="pagination py-5">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">Następna</a>
            {% endif %}
    
            <span class="current">
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
      Brak obrazów do wyświetlenia.
    </div>
    {% endif %}
  </div>
{% endblock content %}
